numpy==1.23.1
pandas
scipy
six
netCDF4

Pillow
seaborn
matplotlib
opencv-python

cartopy==0.21.0

tensorflow==2.11.0
tensorflow-addons
protobuf==3.19.5
tensorboardX
lightgbm
xgboost
scikit-learn
tqdm

jedi==0.18.2
flake8
autopep8
pylint
