black
jupyterlab
jupyterlab_vim
jupyterlab-git
jupyterlab_widgets
jupyterlab_code_formatter
lckr_jupyterlab-variableinspector

jupyterthemes==0.20.0
ipywidgets
import-ipynb

notebook
plotly==5.0.0
RISE==5.7.1

numpy==1.22.4
pandas
scipy
chardet
pycaret
netCDF4
requests
beautifulsoup4
Pillow
opencv-python

matplotlib
matplotlib_scalebar
cartopy
seaborn
colormaps

scikit-learn
tslearn
pydeps
graphviz
shap
umap
lightgbm
xgboost

keras
tensorflow
tensorflow-addons
protobuf==3.19.5
tensorboardX
tqdm
six

