black
jupyterlab
jupyterlab_code_formatter
jupyterlab-git
lckr_jupyterlab-variableinspector
jupyterlab_widgets
jupyterthemes==0.20.0
ipywidgets
import-ipynb

numpy==1.22.4
pandas
scipy
scikit-learn
pycaret
matplotlib
seaborn
plotly==5.0.0
requests
beautifulsoup4
Pillow
opencv-python

pydeps
graphviz
shap
umap
lightgbm
xgboost

keras
tensorflow
tensorflow-addons
protobuf==3.19
tensorboardX
tqdm
six

notebook
plotly==5.0.0
RISE==5.7.1
